/* * {
    color: white
} */

body {
    background: #87A9B3;
}

.theme-color {
    background: #1ea7ae;
    /* background: #1D829D; */
    color: white
}

.theme-color-gray {
    background: #6c6a7a;
}

.theme-color-light-gray {
    background: #E5E6EF;
}

.theme-color-dark-gray {
    background: #51515A;
    color:white;
}