/* * {
    color: white
} */

body {
    background: #87a9b3;
}

hr {
    margin-top: 0;
}

.row .col-auto {
    width: 5vw;
}

.theme-color {
    background: #1ea7ae;
    /* background: #1D829D; */
    color: white;
}

.theme-color-gray {
    background: #6c6a7a;
}

.theme-color-light-gray {
    background: #e5e6ef;
}

.theme-color-dark-gray {
    background: #51515a;
    color: white;
}

.seat-reserved {
    background: #ff9d9d;
}

.seat-available {
    background: #9fff9d;
}

.seat-selected {
    background: #fdff9d;
}
